<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Recipes</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <%- include("../partials/_navbar.ejs") %>
        </br>
        <a href="/recipes/new">Add New Recipe</a>
        <h1>Welcome to My Recipes</h1>
        <% if (recipes.length===0) { %>
            <p>You have no recipes yet.</p>
        <% } else { %>
            <ul>
                <% recipes.forEach(recipe=> { %>
                    <li class="recipe-item">
                         <a href="/recipes/<%= recipe._id %>" class="recipe-name">
                            <%= recipe.name %>
                        </a>
                        <div class="btn-group">
                            <a href="/recipes/<%= recipe._id %>/edit" class="edit-btn">Edit</a>
                            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST" style="display:inline;">
                                <button type="submit" class="delete-btn">Delete</button>
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% } %>
</body>
</html>